<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CurrencyQuotes.Api</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            سلام دنیا
        </main>
    </div>
</body>
</html>
